.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 240, 240);
    z-index: 100;
}

.leftsec{
    
    display: flex;
    align-items: center;

}
.middlesec{
   
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.hamburger{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;

}
.logo{
    height: 20px;

}

.search{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}

.search, 
.voice,
.upload-icon,
.apps-icon,
.notifications-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .tooltip ,
.voice .tooltip,
.upload-icon .tooltip,
.apps-icon .tooltip,
.notifications-div .tooltip{
    font-family: roboto, arial;
    position: absolute;
    background-color: grey;
    color: white;
    padding-left:8px ;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    font-size: 12px;
    bottom: -30px; 
    opacity: 0;
    transition: 0.15s;
    pointer-events: none;
    white-space: nowrap ;
}

.search:hover .tooltip,
.voice:hover .tooltip,
.upload-icon:hover .tooltip,
.apps-icon:hover .tooltip,
.notifications-div:hover .tooltip
{
    opacity: 1;
}



.search-icon{
    height: 25px;
}

.voice{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(245, 245, 245);
}





.voice-icon{
    height: 24px;
    margin-top: 4px;

}
.searchbox{
    flex: 1;
    height: 36px;
    width: 0;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba (0,0,0,0.05);
    position: relative;
}
.searchbox::placeholder{
    font-family: roboto,arial;
    font-size: 16px;
}


.rightsec{
    
    width: 180px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload{
    height: 24px;
}
.apps{
    height: 24px;
}
.notifications{
    height: 24px;
}

.notifications-div{
    position: relative;
}
.notifications-no{
    position: absolute;
    font-family: roboto,arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    top: -2px;
    right: -5px;
    color: white;
    background-color: rgb(200, 0, 0);
    border-radius: 50%;
}




.my-channel{
    height: 32px;
    border-radius: 50%;
}
@media (max-width: 600px){
    .middlesec{
        margin-left: 10px;
        margin-right: 0;
    }
    
    .upload-icon{
        margin-right: 0;
        margin-left: 10px;
    }
    .searchbox{
        visibility: 0;
        width: 0;
    }

}


@media (max-width: 600px) {
  .upload-icon { order: 1; }
  .notifications-div { order: 2; }
  .my-channel { order: 3; }
  .apps-icon{ order: 4;}
}
